<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
    </head>
    <body>
        <form action="{{url_for('register')}}" method="POST">
            <label for="usi">Username:</label>
            <input id="usi" type="text" name="username" required>
            <br>
            <label for="psi">Password:</label>
            <input id="psi" type="password" name="password" required>
            <br>
            <label for="cpsi">Confirm password:</label>
            <input id="cpsi" type="password" name="confirm_password" required>
            <br>
            <button type="submit">Submit</button>
        </form>
        {% if error %}
            {{error}}
        {% endif %}
    </body>
</html>